*{
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    /* padding : 2rem; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.media_card{
    height: 22rem;
    width: 20rem;
    border: 1px solid;
    margin-bottom: 1rem;
}

.media_container{
    height: 80%;
    width: 100%;
    border: 1px solid;
}

.action_container{
    height: 20%;
    width: 100%;
    border: 1px solid;
    display: flex;
}

.download_container, .delete_container{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download_container{
    border-right: 1px solid;
}

.fas{
    font-size: 2rem;
}

.download_container .fas{
    color: green;
}

.delete_container .fas{
    color: red;
}

.media_gallery{
    height: 100%;
    width: 100%;
}